<div id='home', class='big-bg'>
  <%= render 'shared/header' %>

  <div class='main-content'>
    <div class='form-box'>
      <div class='user-contents'>
        <h3><%= link_to "uchino_aji", "/", class: 'main-subtitle' %></h3><br />
        <h3>マイページ</h3><br />

        <div class='user-show'>
          <%= @user.nickname %>さんの登録情報
        </div><br />
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class: 'user-show-icon' %>
          <% else %>
            <%= link_to image_tag('/images/job_chef_man.png', class: 'user-show-icon'), "/users/#{current_user.id}" %>
          <% end %><br />
          <div class='label'>好きな料理</div>
          <%= @user.favorite_dish %>
          <div class='label'>プロフィール</div>
          <%= @user.profile %>

        <div class='user-seasonings'>
        </div>
        
        <p><%= link_to "調味料を登録", new_seasoning_path, class: 'recipe-detail-btn' %></p>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
