<header class='page-header wrapper'>
  <div class='header-title'>
    <%= link_to "uchino_aji", "/", class:'header-logo' %>
  </div>

  <% if user_signed_in? %>
    <div class='header-user'>
      <ul class='header-user-display'>
        <li><%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", class:'header-nickname' %></li>
        <li>
          <% if current_user.image.attached? %>
            <%= link_to image_tag(current_user.image, class: 'header-user-icon'), "/users/#{current_user.id}" %>
          <% else %>
            <%= link_to image_tag('/images/job_chef_man.png', class: 'header-user-icon'), "/users/#{current_user.id}" %>
          <% end %>
        </li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header-logout' %></li>
      </ul>
    </div>
  <% else %>
    <ul class='signed-in-up'>
      <li><%= link_to "ログイン", new_user_session_path, class: 'session-btn' %></li>
      <li><%= link_to "無料新規登録", new_user_registration_path, class: 'registration-btn' %></li>
    </ul>
  <% end %>
</header>
