<header class='page-header wrapper'>
  <div class='header-title'>
    <%= link_to "uchino_aji", "/", class:'header-logo' %>
  </div>

  <% if user_signed_in? %>
    <div class='header-user'>
      <ul class='header-user-display'>
        <li><%= link_to current_user.nickname, "#", class:'header-nickname' %></li>
        <li><%= link_to "ðŸ˜Š", "#", class:'header-icon'%></li>
        <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class: 'header-logout' %></li>
      </ul>
    </div>
  <% else %>
    <ul class='signed-in-up'>
      <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: 'session-btn' %></li>
      <li><%= link_to "ç„¡æ–™æ–°è¦ç™»éŒ²", new_user_registration_path, class: 'registration-btn' %></li>
    </ul>
  <% end %>
</header>
