<div id='home', class='big-bg'>
  <%= render 'shared/header' %>

  <div class='main-content wrapper'>
    <h2 class='main-title'>uchino_aji</h2>
    <p class= 'main-subtitle'>あなたのお家にある調味料から作れるレシピを探してみませんか？</p>

    <div class='recipe-contents'>
      <%= form_with url:rakuten_search_path, method: :get, local: true do |f| %>
        <%= label_tag :recipe_category, 'キーワード検索', class: 'search-label'%>
        <%= f.text_field :recipe_category, class: 'serch-form', placeholder: "料理名や材料名を入力" %>
        <%= f.submit "検索", class: 'recipe-detail-btn'%>
      <% end %>

      <h3 class='lists-title'>ランキング１位 獲得の人気レシピ</h3>
      <ul class='wrapper grid'>
        <% @recipes.each do |recipe| %>
          <li class='list'>
            <%= link_to image_tag(recipe.food_image_url, class: 'recipe-image'), recipe.url %>
            <div class='recipe-title'>
              <%= link_to recipe.title, recipe.url %>
            </div>
            <div class='recipe-under-contents'>
              <div class='recipe-indication'><span>調理目安</span>
                <div class='recipe-time'>
                  <%= recipe.indication %>
                </div>
              </div>
              <div class='recipe-detail'>
                <%= link_to 'レシピを見る', recipe.url, class: 'recipe-detail-btn' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>