<!DOCTYPE html>
<html>
  <head>
    <title>uchino_aji</title>
    <meta name="description" content="あなたのお家にある調味料でレシピ検索">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%# GoogleFonts VarelaRound %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      <%= yield %>
  </body>
</html>
